/* cyrillic */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400, 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
//Добавлен на случай, если юзер пожелает заполнить форму данными на английском
/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZthiI2B.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
// общие стили для карты и скелетона
@mixin info_product($weight, $size, $height) {
    font-family: $font;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: #3F3F3F;
    background: #FFFEFB;
    word-break: break-word;
}

@mixin cart_block() {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-rows: 200px minmax(223px, auto);
    min-height: 423px;
    background: #FFFEFB;
    border-radius: 4px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02); 
    box-sizing: border-box;
    transition: .3s;
}

@mixin image_block() {
    position: relative;
    background-image: cover;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

@mixin container_list() {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 332px);
    grid-template-rows: minmax(423px, auto);
    grid-gap: $gap;
}

//анимация применяемая при сортировке списка
@keyframes sort{
    0% {
        transform: translateX(33%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.animate {
    animation: sort .5s ease;
}

$font: "Source Sans Pro";
$theme-color: #FFFEFB;
$font-color: #B4B4B4;
$select-icon: 1px solid;
$gap: 16px; 
$line-height: 15px;
$skeleton: skeleton-loading 1s linear infinite alternate;
